<%- include('../partials/head') %>
<!--  -->
<%- include('../partials/nav') %>
<section class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda de contatos</h1>

            <%- include('../partials/messages')%>
            <!--  -->
            <% if(contacts.length > 0) {%>
            <p class="text-center lead">Seus contatos se encontram abaixo</p>
            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Nome</td>
                        <td>Sobrenome</td>
                        <td>Telefone</td>
                        <td>Email</td>
                    </tr>
                    <% contacts.forEach(contact => { %>
                    <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.surname %></td>
                        <td><%= contact.tel %></td>
                        <td><%= contact.email %></td>

                        <td>
                            <a href="/contact/index/<%= contact._id %> "
                                >Editar</a
                            >
                        </td>
                        <td>
                            <a
                                class="text-danger"
                                href="/contact/delete/<%= contact._id %> "
                                >Deletar</a
                            >
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </div>
            <% } else {%>
            <p class="text-center lead">Nenhum contato salvo</p>
            <% } %>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
<!--  -->
<%- include('../partials/footer') %>
